html {
  height: 100%;
}
body {
  background: linear-gradient(#bde0fe, #cdb4db);
  background-repeat: no-repeat;
}
.weather-app {
  font-family: "Montserrat", sans-serif;
  color: #fffffc;
  max-width: 600px;
  margin: 90px auto;
  border-radius: 20px;
  padding: 20px 20px 5px;
  background: linear-gradient(#ffafcc, #ffc8dd);
  box-shadow: 5px 5px 10px #ffafcc;
}

#search-input {
  background-color: #fffffc80;
  text-indent: 8px;
  border-radius: 12px;
  border: none;
}

#submit-btn {
  border: none;
  border-radius: 15px;
  background: none;
  color: white;
}
#submit-btn:hover {
  color: #fffffc80;
}
.leftSide {
  text-align: center;
  position: relative;
  right: 30px;
}
.rightSide {
  position: relative;
  top: 15px;
}
.day-time {
  position: relative;
  bottom: 10px;
  left: 1px;
  color: purple;
  opacity: 0.4;
  font-size: 14px;
}

.conditionIcon {
  width: 120px;
}
#current-temp {
  font-size: 50px;
  position: relative;
  left: 10px;
  bottom: 25px;
}

#temp-unit {
  position: relative;
  left: 10px;
  bottom: 50px;
  color: #fdffb6;
}

#main-hi-lo {
  font-size: 13px;
  font-weight: 300;
  position: relative;
  bottom: 30px;
}
ul {
  list-style-type: none;
}
.city {
  font-size: 33px;
  font-weight: bold;
}

.forecast-date,
.forecast-temps {
  text-align: center;
}
.forecast-lo {
  opacity: 0.5;
}
.forecast-date {
  color: #fdffb6;
  opacity: 0.8;
  font-weight: bold;
}
.forecast-icon {
  width: 65px;
  display: block;
  margin: 0 auto;
}
#forecast {
  background-color: #cdb4db80;
  border-radius: 10px;
}

#github-link {
  color: #fdffb6;
  text-decoration: none;
  font-size: 12px;
}
